body.options {
    padding: 20px 0;
}

h1 {
    margin-top: 0;
}

.options ul {
    margin: 0;
    padding: 0;
}

.options ul li {
    list-style: none;
    padding: 10px 0;
    margin-bottom: 15px;
    background: white;
}

.options ul li h2 {
    padding: 0;
    margin: 0;
}
.options ul li input {
    width: 20em;
    margin: 0;
    padding: 0.25em 0.5em;
}
.options ul li select {
    width: 10em;
    margin: 0;
    padding: 0.25em 0.5em;
}

.options ul li input[type=checkbox] {
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    padding: 10px;
    margin-right: 10px;
}

.options .buttons {
    text-align: left;
}

.options form button[type=submit] {
    font-size: 1.3em;
    width: 15%;
    text-align: center;
}

.options .u-isHidden {
    display: none;
}

.msg {
    margin-left: 1em;
}

.msg-ok {
    color: #1d6218;
}
